<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="comm/header :: header"></div>
<body onload="fadeInAndOut()">
<div id="SuccessSubmitted" th:if="${SuccessSubmitted}" th:text="${SuccessSubmitted}"></div>


<div class="am-g am-g-fixed blog-fixed index-page">
        <div class="am-u-md-8 am-u-sm-12">
            <!-- 文章遍历并分页展示 -->
            <div th:each="article: ${articles.list}">
                <article class="am-g blog-entry-article" th:id="'article-' + ${article.id}">
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                        <img width="100%" class="am-u-sm-12" th:src="@{/static/user/img/rand/__${article.id%24}__.png}"/>
                    </div>
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                        <!-- 文章分类 -->
                        <span class="blog-color" style="font-size: 15px;"><a>默认分类</a></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <!-- 发布时间 -->
                        <span style="font-size: 15px;" th:text="'发布于 '+ ${article.time}" />
                        <h2>
                            <div>
                                <!-- 文章标题-->
                                <a style="color: #0f9ae0;font-size: 20px;" th:href="@{/toArticle(articleId=${article.id})}" th:text="${article.title}"  />
                            </div>
                        </h2>
                        <!-- 文章摘要-->
                        <div class="two-lines" style="font-size: 16px;" th:text="${article.content}" />
                        <!-- 按钮容器 -->
                        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-button-container" th:if="${article.author == username}">
                            <!-- 左侧按钮 -->
                            <div class="blog-entry-button" id="leftButtonContainer">
                                <button class="btn btn-primary delete-button"  th:id="'delete-' + ${article.id}" >删除文章</button>
                            </div>
                            <!-- 右侧按钮 -->
                            <div class="blog-entry-button" id="rightButtonContainer">
                                <button class="btn btn-secondary edit-button"  th:id="'edit-' + ${article.id}" >编辑文章</button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- 文章分页信息 -->
            <div class="am-pagination">
                <div th:replace="Article/paging::pageNav(${articles},'上一页','下一页','page')" />
            </div>
        </div>

        <!-- 博主信息描述 -->
            <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>WhiteNight</span></h2>
                    <img th:src="@{/static/assets/img/me2.jpg}" alt="about me" class="blog-entry-img"/>
                    <p>
                        Java后台开发
                    </p>
                    <p>个人博客小站，主要发表关于Java、Spring、Linux等相关文章</p>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>联系我</span></h2>
                    <p>
                        <a href="https://github.com/PJCwarehouse"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                        <a href="https://blog.csdn.net/PJC2751607512"><span class="am-icon-copyright am-icon-fw blog-icon"></span></a>
                        <a><span class="am-icon-qq am-icon-fw blog-icon"></span></a>
                        <a><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
                    </p>
                </div>
            </div>
</div>
<footer class="myFooter">
    <div class="footer-title">人生当苦无妨，良人当归即好。</div>
    <div class="icp">© 2024 / 蜀ICP备2023028036号-1</div>
</footer>

<!-- 模态框 HTML 结构 -->
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <p>确认注销用户？</p>
        <button id="confirmLogout">确认</button>
        <button id="cancelLogout">取消</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
// 获取所有编辑按钮
        document.querySelectorAll('.edit-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
                var articleId = button.id.split('-')[1];
                window.location.href = '/editArticle?articleId=' + articleId + '&type=1';
            });
        });

        // 获取所有删除按钮
        document.querySelectorAll('.delete-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
                confirm(button);
            });
        });
        function confirm(button) {
            var articleId = button.id.split('-')[1];
            $.confirm('确定删除该文件么?','提示信息',{
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                define: function() {
                    $.message({content:'成功删除',time:2000})
                    deleteArticle(articleId); // 传递 articleId 给 deleteArticle
                },
                cancel: function() {
                    $.message({content:'取消删除',time:2000})
                }
            })
        }
        function deleteArticle(articleId) {
            $.ajax({
                type: "POST",
                url: "/deleteArticle",
                data: { articleId: articleId },
                success: function(response) {
                    console.log(response);
                    $.message({content:'成功删除',time:2000})
                    setTimeout(function () {
                        location.reload();
                        // window.location.href = "personalHome";
                    }, 1000);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
        document.querySelectorAll('.blog-entry-article').forEach(function (element) {
            element.addEventListener('click', function () {
                var articleId = element.id.split('-')[1];
                window.location.href = '/toArticle?articleId=' + articleId;
            });
        });
    });
    //访问管理界面权限不够时显示
    $(document).ready(function() {
        // 检查是否存在 NoPermission 参数
        var NoPermission = getUrlParameter('NoPermission');
        if (NoPermission !== undefined && NoPermission !== null) {
            // 如果存在 NoPermissions 参数，显示提示框
            NoPermissions();
            // 移除 URL 中的 NoPermission 参数
            history.replaceState(null, '', removeURLParameter(window.location.href, 'NoPermission'));
        }
    });

    function NoPermissions() {
        $.confirm('抱歉，您的权限不足，若有需求请联系管理员', '提示信息', {
            confirmButtonText: '确定',
            type: 'warning',
        });
    }

    // 获取 URL 参数的函数
    function getUrlParameter(name) {
        // 将方括号字符转义，以防止特殊字符干扰正则表达式
        name = name.replace(/[\[\]]/g, '\\$&');

        // 创建一个正则表达式，匹配 URL 中的参数
        //[?&] 匹配参数的开始（? 或 &），name 是参数名，(=([^&#]*)|&|#|$) 用于匹配参数值（如果存在）
        //url模版:page/1?NoPermission=权限不足！
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');

        // 执行正则表达式，匹配 URL 并返回结果
        var results = regex.exec(window.location.href);

        // 如果没有找到匹配的参数，返回 null
        if (!results) return null;

        // 如果找到了参数但没有值，返回空字符串
        if (!results[2]) return '';

        // 解码参数值，并替换掉加号（+）为空格，返回结果
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


    function removeURLParameter(url, parameter) {
        // 将 URL 按照 '?' 分割成两部分：基础部分和参数部分
        var urlparts = url.split('?');

        // 如果 URL 包含参数部分
        if (urlparts.length >= 2) {
            // 编码参数名并加上等号
            var prefix = encodeURIComponent(parameter) + '=';

            // 将参数部分按 '&' 或 ';' 分割成多个参数
            var pars = urlparts[1].split(/[&;]/g);

            // 遍历参数数组，移除指定参数
            for (var i = pars.length; i-- > 0;) {
                if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                    pars.splice(i, 1);
                }
            }

            // 重新组合 URL，将基础部分与处理后的参数部分合并
            url = urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '');
            return url;
        } else {
            // 如果 URL 不包含参数部分，直接返回原 URL
            return url;
        }
    }


    function fadeInAndOut() {
        //SuccessSubmitted=文章提交成功！
        var SuccessSubmitted = document.getElementById('SuccessSubmitted');
        // 设置错误消息透明度为1
        SuccessSubmitted.style.opacity = 2;

        // 在下一帧（通过 setTimeout 设置为 0）中设置新的 transition 属性
        setTimeout(function () {
            SuccessSubmitted.style.transition = 'opacity 1.5s'; // 设置透明度渐变的过渡时间为1.5秒
        }, 0);

        // 在2秒后再将透明度设置回初始状态，以便下一次的渐变
        setTimeout(function () {
            SuccessSubmitted.style.opacity = 0;
        }, 2000);
    }

</script>
</body>
</html>
