<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>DirectoryList</title>
  <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/message.css"/>
  <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script src="../../static/bootstrap/js/message.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h2>创建新目录</h2>
<form method="POST" action="/createDirectory">
  <label for="directoryName">目录名:</label>
  <input type="text" id="directoryName" name="directoryName"/>
  <button type="submit">创建目录</button>
</form>

<h2>目录列表</h2>
<table border="1">
  <thead>
  <tr>
    <th>目录名</th>
    <th>设置为公开</th> <!-- 添加操作列 -->
    <th>设置为私密</th> <!-- 添加操作列 -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="directory : ${list}">
    <td>
      <a th:href="@{/fileList(directoryId=${directory.id})}" th:text="${directory.directoryName}"></a>
    </td>
    <td>
      <button type="button" th:onclick="'turnOpen(' + ${directory.id} + ')'">公开</button> <!-- 添加按钮 -->
    </td>
    <td>
      <button type="button" th:onclick="'turnClose(' + ${directory.id} + ')'">私密</button> <!-- 添加按钮 -->
    </td>
  </tr>
  </tbody>
</table>

<script type="text/javascript">

  function turnOpen(directoryId) {
    $.confirm('确定设置该目录为公开吗?','提示信息',{
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
      define: function() {
        $.message({content:'设置成功',time:2000})
        window.location.href = "/turnOpen?directoryId=" + directoryId;
      },
      cancel: function() {
        $.message({content:'取消成功',time:2000})
      }
    })
  }

  function turnClose(directoryId) {
    $.confirm('确定设置该目录为私密吗?','提示信息',{
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
      define: function() {
        $.message({content:'设置成功',time:2000})
        window.location.href = "/turnClose?directoryId=" + directoryId;
      },
      cancel: function() {
        $.message({content:'取消成功',time:2000})
      }
    })
  }
</script>

</body>
</html>
