<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/returnParentTable(directoryId=${parent_tableId})}">返回</a>
<p>路径:
    <span th:each="segment, iterStat : ${pathSegments}">
        <span th:if="${!iterStat.first}">/</span>
        <a th:href="@{/list(parent_tableId=${segment.parentId})}" th:text="${segment.name}"></a>
    </span>
</p>



<h1>文件上传</h1>
<form method="POST" enctype="multipart/form-data" action="/fileUpload">
    <input type="file" name="file"/>
    <!-- 添加一个隐藏的输入字段来传递目录ID -->
    <input type="hidden" name="directoryId" th:value="${parent_tableId}"/>
    <button type="submit">上传</button>
</form>
<div th:if="${fileUrl}">
    <h2>文件下载地址:</h2>
    <a th:href="${fileUrl}" th:text="${fileUrl}"></a>
</div>

<h2>创建新目录</h2>
<!--<button onclick="confirm(this)" th:attr="data-directoryId=${parent_tableId}">创建目录</button>-->
<form method="POST" action="/createDirectory">
    <label for="directoryName">目录名:</label>
    <input type="hidden" name="parent_tableId" th:value="${parent_tableId}"/>
    <input type="text" id="directoryName" name="directoryName"/>
    <button type="submit">创建目录</button>
</form>

<h2>目录列表</h2>
<table border="1">
    <thead>
    <tr>
        <th>目录名</th>
        <th>设置为公开</th> <!-- 添加操作列 -->
        <th>设置为私密</th> <!-- 添加操作列 -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="directory : ${directoryList}">
        <td>
            <a th:href="@{/list(parent_tableId=${directory.id})}" th:text="${directory.directoryName}"></a>
        </td>
        <td>
            <button type="button" th:onclick="'turnOpen(' + ${directory.id} + ')'">公开</button> <!-- 添加按钮 -->
        </td>
        <td>
            <button type="button" th:onclick="'turnClose(' + ${directory.id} + ')'">私密</button> <!-- 添加按钮 -->
        </td>
    </tr>
    </tbody>
</table>

<h2 th:text="'目录名: ' + ${directoryName}"></h2><table border="1">
    <thead>
    <tr>
        <th>文件名称</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="directoryData : ${fileList}">
        <td>
            <a th:href="${directoryData.url}" th:text="${directoryData.name}" target="_blank"></a>
        </td>
        <td th:text="${directoryData.time}"></td>
    </tr>
    </tbody>
</table>
<script>
    // function confirm(button) {
    //     var articleId = $(button).data("articleid");
    //     $.confirm('确定删除该文件么?','提示信息',{
    //         confirmButtonText: '确定',
    //         cancelButtonText: '取消',
    //         type: 'warning',
    //         define: function() {
    //             $.message({content:'成功删除',time:2000})
    //             deleteArticle(articleId); // 传递 articleId 给 deleteArticle
    //         },
    //         cancel: function() {
    //             $.message({content:'取消删除',time:2000})
    //         }
    //     })
    // }
    //
    // function deleteArticle(articleId) {
    //     $.ajax({
    //         type: "POST",
    //         url: "/deleteArticle",
    //         data: { articleId: articleId },
    //         success: function(response) {
    //             console.log(response);
    //             $.message({content:'成功删除',time:2000})
    //             setTimeout(function () {
    //                 window.location.href = "articles management";
    //             }, 1000);
    //         },
    //         error: function(error) {
    //             console.error(error);
    //         }
    //     });
    // }
</script>
</body>
</html>