<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="comm/header :: header"></div>
<body onload="fadeInAndOut()">
<div id="SuccessSubmitted" th:if="${SuccessSubmitted}" th:text="${SuccessSubmitted}"></div>

<div class="am-g am-g-fixed blog-fixed index-page">
        <div class="am-u-md-8 am-u-sm-12">
            <!-- 文章遍历并分页展示 -->
            <div th:each="article: ${articles.list}">
                <article class="am-g blog-entry-article">
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
<!--                        <img width="100%" class="am-u-sm-12" th:src="@{${commons.show_thumb(article)}}"/>-->
                        <img width="100%" class="am-u-sm-12" th:src="@{/static/user/img/rand/__${article.id%24}__.png}"/>
                    </div>
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                        <!-- 文章分类 -->
                        <span class="blog-color"style="font-size: 15px;"><a>默认分类</a></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <!-- 发布时间 -->
                        <span style="font-size: 15px;" th:text="'发布于 '+ ${article.time}" />
                        <h2>
                            <div>
                                 <a style="color: #0f9ae0;font-size: 20px;" th:href="@{/toArticle(articleId=${article.id})}" th:text="${article.title}"  />
                            </div>
                        </h2>
                        <!-- 文章摘要-->
                        <div class="two-lines" style="font-size: 16px;" th:text="${article.content}" />
                    </div>
                </article>
            </div>
            <!-- 文章分页信息 -->
            <div class="am-pagination">
                <div th:replace="paging::pageNav(${articles},'上一页','下一页','page')" />
            </div>
        </div>


        <!-- 博主信息描述 -->
            <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>WhiteNight</span></h2>
                    <img th:src="@{/static/assets/img/me2.jpg}" alt="about me" class="blog-entry-img"/>
                    <p>
                        Java后台开发
                    </p>
                    <p>个人博客小站，主要发表关于Java、Spring、Linux等相关文章</p>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>联系我</span></h2>
                    <p>
                        <a href="https://github.com/PJCwarehouse"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                        <a href="https://blog.csdn.net/PJC2751607512"><span class="am-icon-copyright am-icon-fw blog-icon"></span></a>
                        <a><span class="am-icon-qq am-icon-fw blog-icon"></span></a>
                        <a><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
                    </p>
                </div>
            </div>
</div>
<footer class="myFooter">
    <div class="footer-title">人生当苦无妨，良人当归即好。</div>
    <div class="icp">© 2024 / 蜀ICP备2023028036号-1</div>
</footer>

<!--        <form th:each="article : ${articles}" action="/toArticle" method="get">-->
<!--            <div class="blog-post">-->
<!--                <h3 th:text="${article.title}" class="blog-post-title"></h3>-->
<!--                <div class="article-content" id="article-content-${article.id}">-->
<!--                    <p th:text="${article.content}"></p>-->
<!--                </div>-->
<!--                <input name="articleId" th:value="${article.id}" type="hidden">-->
<!--                <input type="submit" value="转到文章">-->
<!--            </div>-->
<!--        </form>-->

<!-- 模态框 HTML 结构 -->
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <p>确认注销用户？</p>
        <button id="confirmLogout">确认</button>
        <button id="cancelLogout">取消</button>
    </div>
</div>

<script>
    function fadeInAndOut() {
        //SuccessSubmitted=文章提交成功！
        var SuccessSubmitted = document.getElementById('SuccessSubmitted');
        // 设置错误消息透明度为1
        SuccessSubmitted.style.opacity = 2;

        // 在下一帧（通过 setTimeout 设置为 0）中设置新的 transition 属性
        setTimeout(function () {
            SuccessSubmitted.style.transition = 'opacity 1.5s'; // 设置透明度渐变的过渡时间为1.5秒
        }, 0);

        // 在2秒后再将透明度设置回初始状态，以便下一次的渐变
        setTimeout(function () {
            SuccessSubmitted.style.opacity = 0;
        }, 2000);
    }
</script>
</body>
</html>
