<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <title>首页</title>
</head>
<body>
<h1>欢迎来到首页</h1>
<a href="/signup">注册</a>
<a href="/home page">主页</a>
<a href="/management">管理界面</a>
<a href="/articles publish">创建文章</a>
<a href="/articles management">文章管理</a>


<h3>我的博客：</h3>

        <form th:each="article : ${articles}" action="/toArticle" method="get"><!--提交方法也许需要换成post-->
            <strong th:text="${article.id}"></strong>
            <strong th:text="${article.title}"></strong>

            <input name="articleID" th:value="${article.id}" hidden>
            <input name="articleTitle" th:value="${article.title}" hidden>
            <input type="submit" value="转到文章">
        </form>




</body>
</html>
