<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>PDF转TXT文件</title>
</head>
<body>

<h1>PDF转TXT文件</h1>
<input type="file" id="fileInput" accept=".pdf">
<button onclick="uploadFile()">上传文件</button>
<button onclick="promptDownload()">下载转换后的文件</button>

<script>
  function uploadFile() {
    var fileInput = document.getElementById('fileInput');
    var file = fileInput.files[0];

    var formData = new FormData();
    formData.append('file', file);

    fetch('/upload', {
      method: 'POST',
      body: formData
    })
            .then(response => {
              if (response.ok) {
                console.log('文件上传成功');
              } else {
                console.error('文件上传失败');
              }
            })
            .catch(error => console.error('发生错误:', error));
  }

  function promptDownload() {
    const downloadLink = document.createElement('a');
    downloadLink.style.display = 'none';
    downloadLink.id = 'downloadLink';
    document.body.appendChild(downloadLink);

    fetch('/download')
            .then(response => {
              if (response.ok) {
                return response.blob();
              } else {
                console.error('下载文件失败');
              }
            })
            .then(blob => {
              const url = window.URL.createObjectURL(new Blob([blob]));
              const a = document.getElementById('downloadLink');
              a.href = url;
              a.download = 'converted.txt';
              a.click();
              window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('发生错误:', error));
  }
</script>

</body>
</html>
