<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
</head>

<body>
<div id="output"></div>
<input type="text" id="messageInput" placeholder="输入消息">
<button onclick="sendMessage()">发送消息</button>
<script>
  var websocket = null;
  if ('WebSocket' in window) {
    websocket = new WebSocket('wss://localhost:8443/webSocket');
  } else {
    alert('该浏览器不支持 WebSocket!');
  }

  websocket.onopen = function(event) {
    console.log('建立连接');
    document.getElementById('output').innerText = '建立连接';
  };

  websocket.onclose = function(event) {
    console.log('连接关闭');
    document.getElementById('output').innerText = '连接关闭';
  };

  websocket.onmessage = function(event) {
    console.log('收到消息:' + event.data);
    document.getElementById('output').innerText = '收到消息: ' + event.data;
  };

  websocket.onerror = function() {
    alert('WebSocket 通信错误');
    document.getElementById('output').innerText = 'WebSocket 通信错误';
  };

  window.onbeforeunload = function() {
    websocket.close();
  };

  function sendMessage() {
    var message = document.getElementById('messageInput').value;
    websocket.send(message);
  }
</script>
</body>

</html>